<div id="welcome" class="columns is-vcentered">
  <%= image_tag  "goal-background.png", id: "goal-background" %>
  <div class="column">
    <div class="card">
      <div class="card-content">
        <div class="title has-text-centered">Sign Up</div>
          <% if @user.errors.any? %>
            <div id="error_explanation" class="bullet">
              <h2 class="has-text-danger"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>
              <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li class="has-text-danger"><%= msg %></li>
              <% end %>
              </ul>
            </div>
            <br/>
          <% end %>

          <%= form_for @user do |f|%>
            <div class="field">
              <label class="heading">Email</label>
              <div class="control has-icons-left">
                <%= f.text_field :email, class: "input" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-user"></i>
                </span>
              </div>
              <br/>
              <label class="heading">Password</label>
              <div class="control has-icons-left">
                <%= f.password_field :password, class: "input", type: "password" %>
                <span class="icon is-small is-left">
                  <i class="fas fa-lock"></i>
                </span>
              </div>
            </div>
            <br/>
            <div class="has-text-centered">
              <%= f.submit "Sign Up", class: "button is-primary is-fullwidth clickable" %>
              <div>
                <br/>
                <span>Already have an account? </span>
                <%= link_to "Log In", login_path, class: "" %>
              </div>
            </div>
          <%end%>

      </div>
    </div>
  </div>
</div>
