<div class="columns">
  <div class="column is-three-quarters">
      <div class="title is-3 is-spaced"><%= @goal.title %></div>
  </div>
  <div class="column has-text-right">
    <% if @goal.achievement == "achieved" %>
      <div class="tag is-success is-light"><%= @goal.achievement.capitalize %></div>
    <% elsif @goal.achievement == "partially achieved" %>
      <div class="tag is-warning is-light"><%= @goal.achievement.capitalize %></div>
    <% elsif @goal.achievement == "failed" %>
      <div class="tag is-danger is-light"><%= @goal.achievement.capitalize %></div>
    <% else %>
      <div class="tag is-light">Not achieved yet</div>
    <% end %>
  </div>
</div>
    
<div class="columns">
  <div class="column">
    <div class="heading">Due Date</div>
    <div><%= @goal.date %></div>
  </div>
  <div class="column">
    <% if @parent_goal.present? %>
      <div class="heading">Parent Goal</div>
      <div>
        <%= @parent_goal.title %>
      </div>
    <% end %>
  </div>
</div>

<% unless @goal.description.blank? %>
  <div class="">
    <div class="heading">Description</div>
    <div><%= simple_format(@goal.description) %></div>
  </div>
<% end %>
<br/>
<% if @horizon != "week" %>
  <% if @children_goals.count > 0 %>
    <div class="">
      <div class="heading">Children Goals</div>
      <div class="bullet children-goals">
        <ul>
        <% @children_goals.each do |goal| %>
          <li class=""><%= goal.title %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>
<% end %>
