<h1>My Goal App</h1>

<h2>Weekly Goals</h2>

  <table>
  	<tr>
  		<td>
  			<p>#</p>
  		</td>
  		<td>
  			<p>Title</p>
  		</td>
  		<td>
  			<p>Achievment</p>
  		</td>
  	</tr>
  	<% @nb_weekly_goals.times do |i| %>
  	<tr>
  		<td>
  			<p>Goal #<%= "#{i+1}" %></p>
  		</td>
  		<td>
  			<p id="goal<%= "#{i+1}" %>"><%= "#{ @weekly_goals.find(i+1).title }" %></p>
        <%= form_tag "/#{i+1}", :id => "form#{i+1}", style: "display:none;", method: "patch" do %>
          <input type="text" name="title" value="<%= @weekly_goals.find(i+1).title %>" />
        <% end %>
  		</td>
  		<td>
  			Goal Achievment
  		</td>
  	</tr>
  	<% end %>
  </table>

  <input id="editButton" type="button" value="Edit" onclick="toggle_visibility('editButton')" />
  <input id="submitAll" style="display:none;" type="button" value="Update All" onclick="submitForms()" />

<!--
<script type="text/javascript">
  submitForms = function(){
    <% @nb_weekly_goals.times do |i| %>
      document.getElementById("form<%= "#{i+1}" %>").submit();
    <% end %>
  }

  function showHide() {
    <% @nb_weekly_goals.times do |i| %>
      var x = document.getElementById("form<%= "#{i+1}" %>");
      var y = document.getElementById("goal<%= "#{i+1}" %>");
      if (x.style.display === "none") {
        x.style.display = "block";
        y.style.display = "none";
      } else {
        x.style.display = "none";
        y.style.display = "block";
      }
    <% end %>
    var x = document.getElementById("submitAll");
    var y = document.getElementById("editButton");
    if (x.style.display === "none") {
      x.style.display = "block";
      y.value = "Cancel";
    } else {
      x.style.display = "none";
      y.value = "Edit";
    }
  }  
</script>
-->
