<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="section">
  <div class="tile is-ancestor">
    <div class="tile is-vertical is-parent is-4">
      <p class='subtitle'>Weekly Goals</p>
      <div class="tile is-child box has-text-centered">
        <p class="heading">Total</p>
        <p class="title"><%= @goal_week_count %></p>
      </div>
      <div class="tile is-child box has-text-centered">
        <div class="heading">Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_week_achieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Partially Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_week_partiallyachieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Failed</div>
        <div class="title"><%= number_to_percentage(@goal_week_failed_percentage * 100, precision: 0) %></div>
      </div>
    </div>
    <div class="tile is-vertical is-parent is-4">
      <p class='subtitle'>Quarterly Goals</p>
      <div class="tile is-child box has-text-centered">
        <p class="heading">Total</p>
        <p class="title"><%= @goal_quarter_count %></p>
      </div>
      <div class="tile is-child box has-text-centered">
        <div class="heading">Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_quarter_achieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Partially Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_quarter_partiallyachieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Failed</div>
        <div class="title"><%= number_to_percentage(@goal_quarter_failed_percentage * 100, precision: 0) %></div>
      </div>
    </div>
    <div class="tile is-vertical is-parent is-4">
      <p class='subtitle'>Yearly Goals</p>
      <div class="tile is-child box has-text-centered">
        <p class="heading">Total</p>
        <p class="title"><%= @goal_year_count %></p>
      </div>
      <div class="tile is-child box has-text-centered">
        <div class="heading">Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_year_achieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Partially Achieved</div>
        <div class="title"><%= number_to_percentage(@goal_year_partiallyachieved_percentage * 100, precision: 0) %></div>
        <div class="heading">Failed</div>
        <div class="title"><%= number_to_percentage(@goal_year_failed_percentage * 100, precision: 0) %></div>
      </div>
    </div>
  </div>
</div>

<div id="modal-window" class="modal">
  <div class="modal-background"></div>
  <div class="modal-card">
    <header class="modal-card-head">
      <div id="modal-header"></div>
      <button id="modal-close-button" class="delete is-hidden" aria-label="close"></button>
    </header>
    <section id="modal-content" class="modal-card-body">
      <!-- Content ... -->
    </section>
    <footer class="modal-card-foot">
      <div id="modal-footer"></div>
      <button class="button is-hidden" id="modal-close-button">Close</button>
    </footer>
  </div>
</div>
<br/>
<%= line_chart @goal_week.group(:achievement).group_by_week(:date).count , colors: ["#3273dc", "#ffdd57", '#ff3860' ]  %>