<%= render partial: "shared/goalheader", locals: {horizon: @horizon} %>

<% if DateTime.current.to_date.respond_to?("beginning_of_#{@horizon}") %>
  <% @goals.group_by{ |goal| goal.date.send("beginning_of_#{@horizon}")}.sort.reverse.each do |term_start, goals|%>
    <div id="term-group" class="container">
      <%= form_with model: @goal, url: edit_multiple_goals_path, local: true, method: :get do %>
      <hr/>
      <div class="level">
        <div class="level-left">
          <h2 class="subtitle level-item">
            <% if DateTime.current.to_date.send("beginning_of_#{@horizon}") == term_start %>
              This <%= @horizon %>
            <% elsif DateTime.current.to_date.send("beginning_of_#{@horizon}") + next_term("#{@horizon}") == term_start %>
              Next <%= @horizon %>
            <% else %>
              Previous <%= @horizon %> ~ <%= term_start.send("end_of_#{@horizon}") %>
            <% end %>
          </h2>
        </div>
        <div class="level-right">
          <%= submit_tag "Update goals", class: "button is-small is-outlined is-primary level-item" %>
        </div>
      </div>
        <table class="table is-fullwidth">
          <tr>
            <th>
            </th>
            <th>
              <p>Title</p>
            </th>
            <th>
              <p>Description</p>
            </th>
            <th>
              <p>Realted to</p>
            </th>
            <th>
              <p>Achievment</p>
            </th>
            <th class="">
              <p>Date</p>
            </th>
            <th class="is-hidden"></th>
          </tr>
          <% @i = 1%>
          <% goals.each do |goal|%>
            <tr>
              <td>
                #<%= @i %>
                <%= hidden_field_tag "goal_ids[]", goal.id %>
                <%= hidden_field_tag "horizon", @horizon %>
              </td>
              <td>
                <%= link_to goal.title, goal_path(goal, horizon: @horizon) %>

              </td>
              <td>
                <%= goal.description %>
              </td>
              <td>
                <% if goal.related_goal_id.present? == true %>
                  <%= link_to @allgoals.find(goal.related_goal_id).title, goal_path(id: goal.related_goal_id,horizon: @horizon) %>
                <% end %>
              </td>
              <td>
                <% if goal.achievement == "Achieved" %>
                  <span class="tag is-success is-light"><%= goal.achievement %></span>
                <% elsif goal.achievement == "Partially achieved" %>
                  <span class="tag is-warning is-light"><%= goal.achievement %></span>
                <% elsif goal.achievement == "Failed" %>
                  <span class="tag is-danger is-light"><%= goal.achievement %></span>
                <% else %>
                <% end %>
              </td>
              <td class="">
                <%= goal.date %>
              </td>
              <td class="is-hidden">
                <%= link_to  "Edit", edit_goal_path(goal), class: "button is-link" %>
              </td>
            </tr>
            <% @i += 1 %>
          <%end%>
        </table>
        <br/>
      <% end %>
    </div>
  <% end %>
<% end %>
