<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="title">Create a new goal</h2>
    </div>
  </div>
</div>

<%= form_with model: @goal, url: goals_path, local: true do |f| %>
  <p><%= @goal.errors[:date].first %></p>
  <div class="field">
    <label class="label">Title</label>
    <div class="control">
      <%= f.text_field :title, class: "input"%>
    </div>
    <p><%= @goal.errors[:title].first %></p>
  </div>
  <div class="field">
    <label class="label">Description</label>
    <div class="control">
      <%= f.text_area :description, class: "textarea"%>
    </div>
  </div>
  <div class="field">
    <div class="control">
      <div class="select">
        <%= f.select :horizon, options_for_select(["weekly", "quarterly"], @goal.horizon), include_blank: true %>
      </div>
    </div>
  </div>
    <!--
  <p>Date: <%= f.date_field :date, :value => Time.now.strftime('%Y-%m-%d') %></p>
  -->
  <div class="field">
    <label class="label">Due Date</label>
    <div class="control">
      <%= f.radio_button :date, DateTime.current.to_date.end_of_week.strftime('%Y-%m-%d'), :checked => true, id:"radio-thisweek", class: "is-checkradio" %>
      <label for="radio-thisweek">
        This Week
      </label>
      <%= f.radio_button :date, 1.week.from_now.to_date.end_of_week.strftime('%Y-%m-%d'), id:"radio-nextweek", class: "is-checkradio" %>
      <label for="radio-nextweek">
        Next Week
      </label>
    </div>
  </div>
  <div class="field is-grouped">
    <div class="control">
      <%= f.submit "Save", class: "button is-primary" %>
    </div>
    <div class="control">
      <a href="./" class="button">Cancel</a>
    </div>
  </div>
<% end %>
