<h2>Date:</h2>
<%= @goal.date %>
<h2>Title:</h2>
<%= @goal.title %>
<h2>Description:</h2>
<%= @goal.description %>
<h2>Horizon:</h2>
<%= @goal.horizon %>
<h2>Related goal:</h2>
<%= @goal.related_goal_id %>
<h2>Achievement:</h2>
<%= @goal.achievement %>
<%= link_to "Cancel", goals_path(horizon: @horizon), class: "button" %>