<div class="level">
  <div class="level-left">
    <div class="level-item">
      <h2 class="title">Life Goals</h2>
    </div>
    <div class="level-item">
      <%= link_to "New Goal", new_life_goal_path, class: "button is-primary" %>
    </div>
  </div>
</div>

<div>
  <%= form_with model: @life_goals, url: edit_multiple_life_goals_path, local: true, method: :get do %>
    <div class="level">
      <div class="level-left">
        <div class="level-item subtitle">
        </div>
      </div>
      <div class="level-right">
        <div class="level-item">
          <%= submit_tag "Update goals", class: "button is-small is-outlined is-primary level-item" %>
        </div>
      </div>
    </div>
    <table class="table is-fullwidth">
      <tr>
        <th></th>
        <th>ROLE - I want to be...</th>
        <th>WHAT - It looks/feels like...</th>
        <th>WHY - In order to...</th>
      </tr>
      <% @i = 1%>
      <% @life_goals.each do |life_goal| %>
        <tr> 
          <td>
            #<%= @i %>
            <%= hidden_field_tag "life_goal_ids[]", life_goal.id %>
          </td>
          <td>
            <%= link_to life_goal.title, life_goal_path(life_goal) %>
          </td>
          <td>
            <%= simple_format(life_goal.what) %>
          </td>
          <td>
            <%= simple_format(life_goal.why) %>
          </td>
        </tr>
        <% @i += 1 %>
      <% end %>
    </table>
  <% end %>
</div>
