<!DOCTYPE html>
<html>
  <head>
    <title>GoalApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all' %>
    <%= javascript_pack_tag 'application' %>
    <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
  </head>

  <body>
    <div id="columns-container" class="columns">
      <% if logged_in? %>
        <nav class="column navigation" id="side-menu">
          <%= render "shared/navigation" %>
        </nav class="navbar" role="navigation" aria-label="main navigation">
      <% end %>
      <div class="column" id="main-window">
        <%= render "shared/header" %>
        <%= yield %>
      </div>
    </div>
    
  </body>
</html>
